*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}
/*header*/
.header{
    width: 100%;
    height: 58px;
    z-index: 16;
    position: fixed;
    font: inherit;
    font-size: 100%;
    top: 0;
    left: 0;
    background: #141414;
}

.container{
    margin: 0 auto;
    max-width: 1440px;
    min-width: 320px;
    height: 100%;
}

.nav__block{
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: start;
    font-size: 17px;
    color: #fff;
    margin: 0 auto;
    max-width: 1440px;
    min-width: 320px;
}

.pop_up_menu{
    position: absolute;
    display: none;
    cursor: pointer;
    width: 100%;
    background-color: rgb(129, 125, 125);
    top: 50px;
    left: 0;
    z-index: 999999999;
    flex-direction: row;
}

.genre{
 
    width: 120px;
}

    


.genre__list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    width: 100%;
    
}

.genre__item{
    color: rgb(255, 255, 255);
    display: flex;
    padding: 12px;
}

.header__title{
    margin-right: 5px;
    margin-left: 5px;
    padding: 18px;
    color: rgb(255, 255, 255);
    display: flex;
}
.drop{
    width: 100px;
    height: 100px;

}
.drop:hover > .pop_up_menu{
    display: flex;
}

.nav__link{
    text-decoration: none;
    color: #fff;
}

.form__search{
    width: 75px;
    height: 30px;
    margin: 14px;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #504f4f;
}

.form__button{
    position: absolute;
    width: 120px;
    height: 30px;
    margin: 14px;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #94d500;
}

.nav__login{
    position: absolute;
    width: 120px;
    height: 30px;
    margin: 14px; 
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.nav__login__title{

}

/*section*/
.section-main{
    width: 100%;
    height: 1500px;
    background-color: rgb(46, 45, 45);
    margin-top: 58px;
}

.section_block_first{
    margin: 0 auto;
    max-width: 1440px;
    min-width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section_title_first{
    font-size: 18px;
    margin-top: 58px;

    color: rgb(255, 255, 255);
}

.block_list_artist{
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
    color: #fff;
    margin: 0 auto;
    max-width: 1440px;
    min-width: 320px;
}

.list_artist_photo{
    width: 135px;
    height: 145px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./miyagi.jpg');
    background-size: cover;
}

.artist_name{
    
}



.section_title_second{
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: start;
    font-size: 18px;
    color: #fff;
    margin: 0 auto;
    max-width: 1440px;
    min-width: 320px;
    line-height: 16px;
    padding: 18px;
}

.section_title_third{
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: start;
    font-size: 18px;
    color: #fff;
    margin: 0 auto;
    max-width: 1440px;
    min-width: 320px;
    line-height: 16px;
    padding: 18px;
}
/*footer*/
.footer__first{
    position: absolute;
    width: 100%;
    height: 430px;
    background-color: #504f4f;
}

.footer__second{
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #000000;
    bottom: 0px;
    left: 0px;
    z-index: 14;
}

.footer__columnfirst{
    position: absolute;
    margin-left: 220px;
    margin-top: 33px;
}

.footer__titlefirst{
    height: 22px;
    width: 103px;
    color: #94d500;
    margin-right: 4px;
}

.footer__columnsecond{
    position: absolute;
    margin-left: 920px;
    margin-top: 33px;
}

.footer__titlesecond{
    height: 22px;
    width: 103px;
    color: #ffffff;
    margin-right: 4px;
}

.footer__columnthird{
    position: absolute;
    margin-left: 1220px;
    margin-top: 33px;
}

.footer__titlethird{
    height: 22px;
    width: 103px;
    color: #ffffff;
    margin-right: 4px;
}

.footer__columnfouth{
    position: absolute;
    margin-left: 1520px;
    margin-top: 33px;
}

.footer__titlefouth{
    height: 22px;
    width: 103px;
    color: #ffffff;
    margin-right: 4px;
}

.footer__list__link{
    margin-left: 220px;
    margin-top: 33px; 
}